/* <link rel="stylesheet" href="main.css"> */
/* this goes in the HEAD tags of your HTML file */

body{
	font-family: open sans;
	size: 48px;
	color: #A9A9A9;
	background-image: url("background.jpg");
	background-size: 100% 100%;
	/*background-repeat: repeat-x, repeat-y; */
	overflow: scroll;
}

nav{
	text-align: center;
	padding: 10px;
}

#header{
	font-family: open sans;
	font-size: 23px;
	font-weight: bold;
	height: 12%; 
	width: 100%;
	text-align: center;
	text-decoration: none;
}
/*makes it so that the header link is not blue or underlined*/
a:link {
    color: #A9A9A9;
        text-decoration: none;
}
a:visited {
    color: #A9A9A9;
        text-decoration: none;
}
a:hover {
    color: #696969;
        text-decoration: none;
}
a:active {
    color: #A9A9A9;
        text-decoration: none;
}


#sidebar {
  width: 50px;
  top:0;
  left:0;
  color: #808B96;
  height: 100vh;
  background: white;
  overflow: hidden;
  position: fixed;
  opacity:.5;
  transition: opacity 1.5s;
  transition: width .2s;
}
#sidebar:hover {
  opacity: 1;
  transition: opacity 1.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.7;
  text-align: left;
}

.sidenav a {
  padding-left: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 200%;
  color: black;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
	color: #696969;
	text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #fff;
 }

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;

}

/* Add a gray background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
 	color: #696969;
	text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute; 
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(88,88,88);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 12px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

.show {display:block;}

/*contains images*/
.container{
	position: relative;
	border: 1px solid transparent;
	width: 400px;
	height:400px;
	transform:translateX(-50%);
	left: 790px;
} 

div.kev{
	position: absolute;
	-webkit-transform: translateX(-50%);
	/*-webkit-transform: translateY(50%);*/
	transform:translateX(-50%);
	left: 30px;
	/*transform:translateY(50%);*/
	z-idex: -1;
}
div.heart{
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform:translateX(-50%);	
	left: 85px;
	top: 85px;
}
div.mindmarker{
	position: absolute;
	left: 50px;
}

div.eyesmarker{
	position: absolute;
	top: 15px;
}

div.handsmarker{
	position: absolute;
	left: 10px;
	top: 160px;
}

div.feetmarker{
	position: absolute;
	left: 10px;
	top: 330px;
}


