/* <link rel="stylesheet" href="main.css"> */
/* this goes in the HEAD tags of your HTML file */

body{
	font-family: open sans;
	size: 48px;
	color: #A9A9A9;
	background-image: url("background.jpg");
	background-size: 100% 100%;
	/*background-repeat: repeat-x, repeat-y; */
	/*https://stackoverflow.com/questions/12694559/vertically-stretch-background-image*/
	overflow: scroll;
}

nav{
	text-align: center;
	padding: 10px;
}

#header{
	font-family: open sans;
	font-size: 23px;
	font-weight: bold;
	height: 12%; 
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#sidebar {
  width: 50px;
  top:0;
  left:0;
  color: #808B96;
  height: 100vh;
  background: white;
  overflow: hidden;
  position: fixed;
  opacity:.5;
  transition: opacity 1.5s;
  transition: width .2s;
}
#sidebar:hover {
  opacity: 1;
  transition: opacity 1.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.7;
  text-align: left;
}

.sidenav a {
  padding-left: 15px;
  text-decoration: none;
  font-size: 16px;
  line-height: 200%;
  color: black;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
	color: #696969;
	text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.container{
	position: relative;
	border: 1px solid transparent;
	width: 400px;
	height:400px;
	transform:translateX(-50%);
	left: 790px;
} 

div.kev{
	position: absolute;
	-webkit-transform: translateX(-50%);
	/*-webkit-transform: translateY(50%);*/
	transform:translateX(-50%);
	left: 30px;
	/*transform:translateY(50%);*/
	z-idex: -1;
}
div.heart{
	position: absolute;
	-webkit-transform: translateX(-50%);
	transform:translateX(-50%);	
	left: 85px;
	top: 85px;
}
div.mindmarker{
	position: absolute;
	left: 50px;
}

div.eyesmarker{
	position: absolute;
	left: 10px;
	top: 15px;
}

div.handsmarker{
	position: absolute;
	left: 10px;
	top: 160px;
}

div.feetmarker{
	position: absolute;
	left: 10px;
	top: 330px;
}


